@font-face {
	src: url('rlight.ttf');
	font-family: 'rlight';
}

@font-face {
	src: url('rregular.ttf');
	font-family: 'rregular';
}

@font-face {
	src: url('rbold.ttf');
	font-family: 'rbold';
}

body {
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	font-family: 'rregular';
}

form {
	padding: 20px;
	background: #fff;
	box-shadow: 0 2px 4px #aaa;
}

form input[type="submit"] {
	background: #cc5200;
	border-color: #b34700;
	padding: 8px;
	border-radius: 2px;
	color: #fff;
	font-size: 0.8em;
}

form .date-select {
	width: 100px;
}

.any-button {
	background: #4d90fe;
	border-color: #3079ed;
	padding: 2px;
	border-radius: 2px;
}

.header {
	/*background: #e6e6e6;*/
	/*background: #325ea6;*/
	/*background: #a61e22;*/
	background: #cc5200;
	color: #fff;
	border-bottom: solid 2px #aaa;
	box-shadow: 0 0 5px #aaa;
	padding: 10px; 
}

.title-text {
	font-size: 2.0em;
	font-family: 'rlight';
}

.sub-title {
	font-size: 1.2em;
}

.message {
	background: #F9EDBE;
	border: solid 1px #F0C36D;
	border-radius: 5px;
	width: 500px;
	text-align: center;
	padding: 10px;
	display: block;
	margin: 20px auto;
	font-family: 'rlight';
}

.box {
	margin-top: 25px;
}

.card {
	padding: 10px;
	box-shadow: 0 2px 4px #aaa;
	color: #000;
	display: block;
	background: #fff;
}

.card a {
	color: #000;
}

.big-padding {
	padding: 20px;
}

textarea {
	resize: none;
}

.clear-fix {
	padding: 10px;
	width: 100%;
}